:root {
  --bg-app-light: #f6f7fb;
  --bg-app-dark: #10101c;
}

body {
  background: var(--bg-app-light);
  font-family: 'Karla';
}

body.dark {
  background: var(--bg-app-dark);
}

.menu_phone_container {
  background: white;
}
.menu_phone_container::after {
  border: none;
  content: '';
  position: absolute;
  border-radius: 0.5rem;
  inset: 0;
  background: linear-gradient(45deg, #c85ed8, #a079f8);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  padding: 2px;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Loader effect*/
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: 'Karla';
  font-size: 16px;
  clip-path: inset(0 1ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: '🔴Loading...';
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

/* Chart Loader dashboard */
.chart_loader {
  /* Apply a conic gradient with 5-degree white gaps */
  background: conic-gradient(
    #94a3b8 0deg 85deg,
    #ffffff 85deg 90deg,
    #94a3b8 90deg 175deg,
    #ffffff 175deg 180deg,
    #94a3b8 180deg 265deg,
    #ffffff 265deg 270deg,
    #94a3b8 270deg 355deg,
    #ffffff 355deg 360deg
  );
  border-radius: 50%;
  position: relative;
}

.dark .chart_loader {
  background: conic-gradient(
    #475569 0deg 85deg,
    /* slate-700 */ #1e293b 85deg 90deg,
    /* slate-800 */ #475569 90deg 175deg,
    /* slate-700 */ #1e293b 175deg 180deg,
    /* slate-800 */ #475569 180deg 265deg,
    /* slate-700 */ #1e293b 265deg 270deg,
    /* slate-800 */ #475569 270deg 355deg,
    /* slate-700 */ #1e293b 355deg 360deg /* slate-800 */
  );
}

.page_height_without_header {
  height: calc(100svh - 110px);
}

.user_profiles {
  background: linear-gradient(253deg, #5c61f2 11.51%, #7366ff00 82.07%);
}
.word_break {
  word-break: break-word;
}
.error_page_container {
  font-family: 'Arvo', serif;
}
.glow-hover:hover {
  box-shadow:
    0 0 10px #ff99cc90,
    0 0 20px #ff99cc90,
    0 0 40px #ff99cc90,
    0 0 80px #ff99cc90;
}
